<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>FitnessChecker</title>
        <script src="js/angular.min.js"></script>
        <script src="js/fitness.js"></script>
    </head>
    <body ng-app="fitness" ng-controller="dataController">
        <h1>Fitness Checklist</h1><br>

        <div>
            <section ng-controller="editController">
                <div ng-include="'display.html'" ng-show="!edit">
                </div>

                <div ng-controller="itemController" ng-include="'edit.html'" ng-show="edit">
                </div>

                <div>
                    <button ng-click="setEdit(true)" ng-show="!edit">Edit</button>
                </div>

            </section>

            <!--<div ng-controller="timerController">-->
                <!--<div><span>{{hours}}:{{minutes}}:{{seconds}}:{{millsec}}</span></div>-->
                <!--&lt;!&ndash;<div ng-show="running">{{clock.now}}</div>&ndash;&gt;-->
                <!--<div>-->
                    <!--<button ng-click="timer()" ng-model="running">{{status}}</button><br>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div ng-controller="counterController">-->
                <!--<div><span>{{hourLabel}}:{{minLabel}}:{{secLabel}}</span></div>-->
                <!--<div>-->
                    <!--<button ng-click="counter()" ng-model="running">{{status}}</button><br>-->
                <!--</div>-->

            <!--</div>-->

        </div>
    </body>
</html>
